# Build directories
build
dist
*.egg-info

# Mac OS X custom attribute files
.DS_Store

# Windows thumbnails
Thumbs.db

# Python
*.pyc
*.pyo

# Temporary editor files
*.swp
.idea


# Temporary example files
examples/12-experimental/test.mp4
